[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HO-ostage
[access "refs/for/refs/*"]
	read = group user/HO-ostage
	push = group user/HO-ostage
	label-Code-Review = -2..+2 group user/HO-ostage
	label-Verified = -1..+1 group user/HO-ostage
	rebase = group user/HO-ostage
	removeReviewer = group user/HO-ostage
	submit = group user/HO-ostage
[access "refs/heads/*"]
	read = group user/HO-ostage
	create = group user/HO-ostage
	push = +force group user/HO-ostage
	pushMerge = group user/HO-ostage
[access "refs/tags/*"]
	push = +force group user/HO-ostage
	pushTag = group user/HO-ostage
	pushSignedTag = group user/HO-ostage
